/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$orange: #EF6E2C;
$orange-light: #DAB646;
$orange-dark: #A35033;
$green: #65C296;
$grey: #CCC;
$grey-light: #F0F0F0;
$grey-dark: #333;

html, body {
    height: 100%;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: $grey-light;
}

.alerts-container {
    padding: 20px;
    background: white;
}

#dashboard {
    margin-top: 50px;
}

.btn-bigger {
    font-size: 20px;
}

input, button {
    border-radius: 0!important;	
}

input:focus {
    border-color: $green !important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px $green !important;
    -box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px $green !important;
}

#footer {
    background: $grey-dark;
    color: white;
}

form .btn-cta {
    width: 100%;
}

.btn-cta {
    font-size: 28px;
    background: $orange;
    border-color: $orange-dark;
    color: white;
    &:hover {
	background: $orange-dark;
	border-color: $orange-dark;
	color: white;
    }
}

.input-bigger {
    font-size: 20px;
}

section {
    padding: 3% 0 3% 0;
}

.navbar {
    border-radius: 0 !important;
    border: none;
    border-bottom: $grey solid 1px;
}

.navbar-fixed-top {
    border-radius: 5px;
}

#register {
    background: white;
    text-align: center;
}

.navbar-brand {
    font-weight: bold;
}

.orange {
    color: $orange;
}
.orange-dark {
    color: $orange-dark;
}

ul.nav.navbar-nav li>a {
    font-weight: bold;
}

.navbar .container {
    height: 100%;
}

.brand-name {
    float: right;
    line-height: 100px;
    margin-left: 10px;
}

.navbar-default {
    background: white;
    height: 130px;
    .navbar-brand {
        .orange {
            color: $orange;
        }
        &:hover {
            .orange {
                color: $orange-dark;
            }
	    color: $grey-dark;
        }
    }
    ul.nav.navbar-nav {
	li>a {
	    line-height: 100px;
            &:hover {
		color: $grey-dark;
            }
	}
    }
}

.form-register {
    width: 50%;
    margin: auto;
    border: solid 1px white;
    border-radius: 10px;
    padding: 20px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
}

#promotion {
    text-align: center;
    .promotion-header {
        font-weight: bold;
        h1 {
            font-size: 60px;
            margin-bottom: 20px;
        }
        h2 {
            font-size: 26px;
        }
    }
}

#advantages {
    text-align: center;
    h3 {
        font-size: 26px;
    }
    p {
	text-align: justify;
    }
    .glyphicon {
	font-size: 30px;
    }
    .advantage {
	padding: 10px;
	@media screen and (min-width: 770px) {
	    h3 {
		margin-top: 10px;
		margin-bottom: 10px;
	    }
	}
    }
    @media screen and (max-width: 769px) {
	.advantage {
	    margin-left: 20.85%;
	}
    }
}

.landing {
    min-height: 100%;
}

.btn-icon {
    &:hover {
        color: black;
    }
    cursor: pointer;
}

.btn-link {
    color: white;
    &:hover {
        color: $grey;
        text-decoration: none;
    }
}

.modal {
    .modal-header {
	padding: 0;
	margin-top: 15px;
	button {
	    margin-right: 15px;
	}
	.modal-title {
	    margin-left: 15px;
	    margin-bottom: 10px;
	}
	.modal-email {
	    font-size: 12px;
	    background: #f0ad4e;
	    padding: 5px;
	}
    }
    .modal-body {
	position: relative;
	float: left;
    }
    .modal-footer {
	.modal-loader {
	    position: relative;
	    float: right;
	    margin-left: 5px;
	}
    }
}

.input-group-addon {
    cursor: pointer;
    a {
        text-decoration: initial;
        color: #4D4E53;
    }
}
.input-group-addon:hover {
    background: #f3f3f3;
}

.no-padding {
    padding: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

.no-padding-left {
    padding-left: 0 !important;
}

.page-header h1 {
    padding-left: 20px;
}

#about {
    padding-top: 0;
    .row {
	padding-left: 20px;
    }
}

.navbar-inverse .navbar-nav>li>a:focus {
    color: $grey-dark;
}

#pricing {
    line-height: 30px;
    padding-top: 0;
    .pricing-tab {
	hr {
	    border-top: 1px solid $grey;
	}
	border: $grey 1px solid;
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
	padding-bottom: 20px;
	.pricing {
	    padding-top: 20px;
	    padding-bottom: 20px;
	}
	.pricing-header {
            h2 {
		font-size: 28px;
            }
            .pricing-price {
		font-size: 20px;
		small {
                    font-size: 16px;
		}
            }
	}
	.pricing-highlight {
            background: $grey-dark;
	    color: white;
	}
	.pricing-descr {
	}
	.pricing-footer {
            border-top: solid 1px $grey;
            padding-top: 20px;
	}
    }
}

.space-1 { height: 10px; }
.space-2 { height: 20px; }
.space-3 { height: 30px; }
.space-4 { height: 40px; }
.space-5 { height: 50px; }
.space-6 { height: 60px; }
.space-7 { height: 70px; }
.space-8 { height: 80px; }
