<section id="dashboard">
  <div class="container">
    <div class="page-header">
      <h1>Alerts setup <small>({{ alerts.length }}/{{ Auth.get().plan.alert_number || 0 }})</small></h1>
    </div>
    <div class="webalerts" ng-hide="alerts.length">
      <div style="padding-left: 20px;">
	<p>Add a website to monitor below !</p>
      </div>
    </div>
    <div class="webalerts" ng-show="alerts.length">
      <form class="form" role="form">
        <div class="webalert" ng-repeat="alert in alerts">
          <div class="form-group col-lg-6 col-sm-10 col-xs-8">
            <input class="form-control input-bigger input-lg" ng-model="alert.url" disabled>
          </div>
          <button class="btn btn-default" type="button" ng-click="deleteAlert($index)"><i class="glyphicon glyphicon-trash"></i></button>
        </div>
      </form>
    </div>
    <hr>
    <form class="form" role="form" ng-submit="addAlert(alertUrl)">
      <div class="webalerts">
	<div class="form-group col-lg-6 col-sm-10 col-xs-8">
          <input ng-model="alertUrl" type="text" class="form-control input-bigger input-lg" placeholder="http://www.website.com">
	</div>
	<button type="submit" class="btn btn-cta"><i class="glyphicon glyphicon-plus"></i></button>
      </div>
    </form>      
  </div>
</div>
</section>
