<div class="background">
  <img src="static/img/background.jpg" />
</div>
<div class="container landing">
  <section id="promotion">
    <div class="promotion-header">
      <h2>Monitor your website status for <span class="orange">1$/mo</span>.</h2>
      <h3>We'll send you an email when it crashes.</h3>
    </div>
    <form class="form form-register" role="form" ng-submit="login(email, password)" ng-show="!Auth.is_authenticated()">
      <div class="form-group">
        <input type="email" class="form-control input-bigger input-lg" id="input-email" placeholder="Email" ng-model="email">
      </div>
      <div class="form-group">
        <input type="password" class="form-control input-bigger input-lg" id="input-password" placeholder="Password" ng-model="password">
      </div>
      <button type="submit" class="btn btn-warning btn-cta">Start now</button>
    </form>
    <div ng-show="Auth.is_authenticated()">
      <a href="#/dashboard" class="btn btn-warning btn-cta" style="margin-right: 10px">Access dashboard</a>
      <button type="button" class="btn btn-link" ng-click="Auth.logout()">Log out</button>
      </div>
  </section>
</div>
