<section id="dashboard">
  <div class="container alerts-container">
    <div class="page-header">
      <h2 style="padding-left: 20px">Subscription</h2>
    </div>      
    <div class="row pricing-tab">
      <div class="col-lg-4 col-sm-4 col-xs-12 pricing">
        <div class="pricing-header">
          <h3>{{ plans.basic.name }}</h3>
          <span class="pricing-price">{{ plans.basic.price }}$<small>/mo</small></span>
        </div>
        <hr>
        <div class="pricing-descr">
          {{ plans.basic.alert_number }} alerts<br>
        </div>
	<div ng-show="Auth.is_authenticated()">
	  <hr>
          <button class="btn btn-warning" ng-click="subscribe({id: 'basic'})" ng-show="Auth.get().plan.id != 'basic'">Subscribe</button>
          <button class="btn btn-warning" ng-click="unsubscribe({id: 'basic'})" ng-show="Auth.get().plan.id == 'basic'">Unsubscribe</button>
	</div>
      </div>
      <div class="col-lg-4 col-sm-4 col-xs-12 pricing pricing-highlight">
        <div class="pricing-header">
          <h3>{{ plans.big.name }}</h3>
          <span class="pricing-price">{{ plans.big.price }}$<small>/mo</small></span>
        </div>
        <hr>
        <div class="pricing-descr">
          {{ plans.big.alert_number }} alerts<br>
        </div>
	<div ng-show="Auth.is_authenticated()">
	  <hr>
          <button class="btn btn-default" ng-click="subscribe({id: 'big'})" ng-show="Auth.get().plan.id != 'big'">Subscribe</button>
          <button class="btn btn-default" ng-click="unsubscribe({id: 'big'})" ng-show="Auth.get().plan.id == 'big'">Unsubscribe</button>
	</div>
      </div>
      <div class="col-lg-4 col-sm-4 col-xs-12 pricing">
        <div class="pricing-header">
          <h3>{{ plans.unlimited.name }}</h3>
          <span class="pricing-price">{{ plans.unlimited.price }}$<small>/mo</small></span>
        </div>
        <hr>
        <div class="pricing-descr">
          {{ plans.unlimited.alert_number }} alerts<br>
        </div>
	<div ng-show="Auth.is_authenticated()">
	  <hr>
          <button class="btn btn-warning" ng-click="subscribe({id: 'unlimited'})" ng-show="Auth.get().plan.id != 'unlimited'">Subscribe</button>
          <button class="btn btn-warning" ng-click="unsubscribe({id: 'unlimited'})" ng-show="Auth.get().plan.id == 'unlimited'">Unsubscribe</button>
	</div>
      </div>
      <div class="col-lg-12 col-xs-12 pricing-footer">
        1 check / minute
      </div>
    </div>

    <form class="form form-register" role="form" ng-submit="Auth.login(email, password)" ng-show="!Auth.is_authenticated()">
      <div class="form-group">
	<input type="email" class="form-control input-bigger input-lg" id="input-email" placeholder="Email" ng-model="email">
      </div>
      <div class="form-group">
	<input type="password" class="form-control input-bigger input-lg" id="input-password" placeholder="Password" ng-model="password">
      </div>
      <button type="submit" class="btn btn-warning btn-cta">Start now</button>
    </form>
  </div>
</section>
